RELEASE_CHANNEL=stable
PRIVATE_ADDRESS=$INSTANCE_PRIVATE_IP
SKIP_OPERATOR_INSTALL=0
REPLICATED_OPTS=\" -e DAEMON_TOKEN=fQNjN2sj6LciA4jznMWwmkUlcS -e LOG_LEVEL=info -e AIRGAP=true -e NODENAME=ip-172-31-31-46.eu-central-1.compute.internal\"
REPLICATED_UI_OPTS=\"\"
