RELEASE_CHANNEL=stable
DAEMON_ENDPOINT=$INSTANCE_PRIVATE_IP:9879
DAEMON_TOKEN=fQNjN2sj6LciA4jznMWwmkUlcS
DAEMON_HOST=$INSTANCE_PRIVATE_IP
PRIVATE_ADDRESS=$INSTANCE_PRIVATE_IP
REPLICATED_OPERATOR_OPTS=\" -e TAGS=local -e LOG_LEVEL=info -e AIRGAP=true -e NODENAME=ip-172-31-31-46.eu-central-1.compute.internal\"
